
*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Involve', sans-serif;
}
html {
  scroll-behavior: smooth;
}
h1{
  font-family: 'Kharkiv Tone', sans-serif;
  color: #FAFF00;
  font-weight: 300;
  font-size: calc((100vw - 480px) / 800* 8 + 30px);
  opacity: 0;
  &.anim{
    opacity: 1;
    animation: animUp 1s linear;
  }
}
@keyframes animUp {
  0% { /* Старт анимации */
    opacity: 0;
    transform: translate3d(0%, 30%, 0px);
  }
  100% { /* в финале анимации - финал это заданная 0.55s */
    opacity: 1;
    transform: none;
  }
}
@font-face {
  font-family: 'Involve';
  src: url('./fonts/Involve-VF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Kharkiv Tone';
  src: url('./fonts/Kharkiv\ Tone\ 04.10.2020.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
  background-color: #000000;
}
header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px 20px 0px;
  background-color: rgb(0, 0, 0, .5);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 40px;
  }
  a{
    color: white;
    text-decoration: none;
    transition: .5s;
    font-size: calc((100vw - 480px) / 800* 8 + 10px);
    &:hover{
      color: #FAFF00;
    }
    &:active{
      opacity: .6;
    }
  }
  nav{
    margin-left: -150px;
  }
  button{
    background-color: #000000;
    color: #FAFF00;
    border: 2px solid #FAFF00;
    padding: 15px 30px;
    cursor: pointer;
    transition: .5s;
    font-size: calc((100vw - 480px) / 800* 8 + 10px);
    &:hover{
      background: #FAFF00;
      color: #000000;
    }
    &:active{
      background: rgb(250, 255, 0, .5);
    }
  }
}
#backgroundVideo{
  width: 100%;
  height: 100%;
  margin-top: 100px;
  object-fit: cover;
}
.services{
  margin-top: 100px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.services-wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  column-gap: 98px;
  row-gap: 40px;
  margin-top: 50px;
  position: relative;
  width: 100%;
}

.services-item{
  border-top: 1px solid #FFFFFF;
  padding-top: 10px;
  width: 350px;
  cursor: pointer;
  transition: .5s;
  z-index: -20;
  opacity: 0;
  p{
    color: #FFFFFF;
    font-size: calc((100vw - 480px) / 800* 8 + 10px);
    transition: .5s;
  }
  &:hover{
    border-color: #FAFF00;
    p{
      color: #FAFF00;
    }
  }
  &:active{
    opacity: .5;
    p{
      opacity: .5;
    }
  }
  &.anim{
    opacity: 1;
    animation: animLine 1s linear;
  }
}
@keyframes animLine {
  0% { /* Старт анимации */
    opacity: 0;
    transform: translate3d(-20%, 0%, 0px);
  }
  100% { /* в финале анимации - финал это заданная 0.55s */
    opacity: 1;
    transform: none;
  }
}
.services-item__show{
  position: absolute;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  opacity: 0;
  left: 0px;
  right: 0px;
  top: 120px;
  padding: 50px 50px;
  z-index:-5;
  transition: .5s;
  background-color: black;
  p{
    color: white;
    font-size: calc((100vw - 480px) / 800* 8 + 10px);
  }
  &.show{
    opacity: 1;
    z-index: 5;
  }
}

.project{
  margin-top: 100px;
  padding: 50px;
}
.project-wrapper{
  margin-top: 50px;
  p{
    color: white;
    font-size: calc((100vw - 480px) / 800* 8 + 10px);
  }
}

footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  padding: 20px 60px 20px 0px;
  nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    img{
      width: 40px;
    }
  }
}
@media only screen and (min-width:1850px){
  .services-item{
    width: 500px;
  }
  .services-item__show{
    top: 140px;
  }
}